@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800%3B1%2C400%3B1%2C600%3B1%2C700%3B1%2C800&display=swap");

.plasmic_tokens {
  --token-_UJrUEJN9nix: #007aff;
  --plasmic-token-blue: var(--token-_UJrUEJN9nix);
  --token-XIIW503m8HNf: #333333;
  --plasmic-token-primary-label: var(--token-XIIW503m8HNf);
  --token-0pdjeSv21pkI: #666666;
  --plasmic-token-secondary-label: var(--token-0pdjeSv21pkI);
  --token-exyF1FsLerDs: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-exyF1FsLerDs);
  --token-CjuwKSApt_PW: #ffcc00;
  --plasmic-token-star-color: var(--token-CjuwKSApt_PW);
  --token-5Rk9sgWBdX7L: #333333;
  --plasmic-token-brand-brand: var(--token-5Rk9sgWBdX7L);
  --token-gM2cG15DbH1I: 0.5rem;
  --plasmic-token-size-8: var(--token-gM2cG15DbH1I);
  --token-7W5D9u4p9wXj: Inter;
  --plasmic-token-sans-serif: var(--token-7W5D9u4p9wXj);
  --token-PkRpnMsUgdoa: 1rem;
  --plasmic-token-font-md: var(--token-PkRpnMsUgdoa);
  --token-G79dO0tWlFxG: 1.25;
  --plasmic-token-line-height-md: var(--token-G79dO0tWlFxG);
  --token-cZ6a-KV8lb-3: 0.375rem;
  --plasmic-token-size-6: var(--token-cZ6a-KV8lb-3);
  --token-8hs7EX9uNYeD: #374151;
  --plasmic-token-neutral-neutral: var(--token-8hs7EX9uNYeD);
  --token-h2iOa64H_aSI: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-h2iOa64H_aSI);
  --token-fZ9VQkeOGLbj: #6b7280;
  --plasmic-token-muted-muted: var(--token-fZ9VQkeOGLbj);
  --token-ztNHo3mbgYew: 0.25rem;
  --plasmic-token-size-4: var(--token-ztNHo3mbgYew);
  --token-0WfqZxKAcOmb: 0.75rem;
  --plasmic-token-font-sm: var(--token-0WfqZxKAcOmb);
  --token-6JMdgszLMe47: 1;
  --plasmic-token-line-height-sm: var(--token-6JMdgszLMe47);
  --token-hhBcov2uXk9X: 1.25rem;
  --plasmic-token-font-lg: var(--token-hhBcov2uXk9X);
  --token-3QJ02faEj5-g: 1.4;
  --plasmic-token-line-height-lg: var(--token-3QJ02faEj5-g);
  --token-wMNnEvENCG0v: 0.125rem;
  --plasmic-token-size-2: var(--token-wMNnEvENCG0v);
  --token-KjqVgfl_4wjT: #16a34a;
  --plasmic-token-success-success: var(--token-KjqVgfl_4wjT);
  --token-MOadUMKVmGrF: #facc15;
  --plasmic-token-warning-warning: var(--token-MOadUMKVmGrF);
  --token-2_c4SqJSJ8bk: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-2_c4SqJSJ8bk);
  --token-yEe1U7yjLgjo: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-yEe1U7yjLgjo);
  --token-vkyF0M209A7j: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-vkyF0M209A7j);
  --token-YIqqY8_QgXHc: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-YIqqY8_QgXHc);
  --token-M6o9zS5c4w7K: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-M6o9zS5c4w7K);
  --token-uJ8UwaioMtcZ: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-uJ8UwaioMtcZ);
  --token-J_yMcMBvgFvW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-J_yMcMBvgFvW);
  --token-u8scllr6zTLr: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-u8scllr6zTLr);
  --token-5s__TtvshFUo: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-5s__TtvshFUo);
  --token-IvJ-y20oggNn: #86efac;
  --plasmic-token-success-success-border: var(--token-IvJ-y20oggNn);
  --token-ZULlZnLQDf7W: #fde047;
  --plasmic-token-warning-warning-border: var(--token-ZULlZnLQDf7W);
  --token-d9dDNT66tliJ: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-d9dDNT66tliJ);
  --token-tP08cDGiUdGv: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-tP08cDGiUdGv);
  --token-ZZFA-Tu6fMr9: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-ZZFA-Tu6fMr9);
  --token-Olua63UJwBfW: #00000033;
  --plasmic-token-interaction-pressed: var(--token-Olua63UJwBfW);
  --token-_9i71tSFmKK6: 0.625rem;
  --plasmic-token-size-10: var(--token-_9i71tSFmKK6);
  --token-RuitHwuC_1AN: 0.75rem;
  --plasmic-token-size-12: var(--token-RuitHwuC_1AN);
  --token-_tQZ-LsMEuzM: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-_tQZ-LsMEuzM);
  --token-UbbNQmUmhLzD: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-UbbNQmUmhLzD);
  --token-MmufIajRiemU: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-MmufIajRiemU);
  --token-aI1kCZkC0Egt: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-aI1kCZkC0Egt);
  --token-WItcu7vfxdJE: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-WItcu7vfxdJE);
  --token-5sypFvNO3g9g: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-5sypFvNO3g9g);
  --token-ocK2YrVVA8Wv: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-ocK2YrVVA8Wv);
  --token-Q7Hp8-nwL_NK: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Q7Hp8-nwL_NK);
  --token-Ts8uVf6-VVSL: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-Ts8uVf6-VVSL);
  --token-YgxTmM3nBDaU: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-YgxTmM3nBDaU);
  --token-IJ36eq5vTN8E: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-IJ36eq5vTN8E);
  --token-Bj-uFQglAUeV: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-Bj-uFQglAUeV
  );
  --token-LzJ2JAquyD_o: 2rem;
  --plasmic-token-size-32: var(--token-LzJ2JAquyD_o);
  --token-Rd5-LJ9_eHSG: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-Rd5-LJ9_eHSG);
  --token--LiRiDM306TI: #030712;
  --plasmic-token-basic-text-primary: var(--token--LiRiDM306TI);
  --token-kqLrvkkT63xP: #d1d5db;
  --plasmic-token-basic-border: var(--token-kqLrvkkT63xP);
  --token-TI7OGsysZLjv: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-TI7OGsysZLjv);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ZX66RJmRdXD2_font-family: "Inter", sans-serif;
  --mixin-ZX66RJmRdXD2_font-size: 16px;
  --mixin-ZX66RJmRdXD2_font-style: normal;
  --mixin-ZX66RJmRdXD2_color: #333333;
  --mixin-ZX66RJmRdXD2_text-align: left;
  --mixin-ZX66RJmRdXD2_text-transform: none;
  --mixin-ZX66RJmRdXD2_white-space: pre-wrap;
  --mixin-ZX66RJmRdXD2_user-select: text;
  --mixin-ZX66RJmRdXD2_text-decoration-line: none;
  --mixin-ZX66RJmRdXD2_text-overflow: clip;
  --mixin-ZX66RJmRdXD2_line-height: 1.5;
  --mixin-UDYE44CR-C3T_font-family: "Inter", sans-serif;
  --mixin-UDYE44CR-C3T_color: #000000;
  --mixin-UDYE44CR-C3T_font-size: 48px;
  --mixin-UDYE44CR-C3T_font-weight: 700;
  --mixin-UDYE44CR-C3T_letter-spacing: -1px;
  --mixin-UDYE44CR-C3T_line-height: 1.1;
  --mixin-UDYE44CR-C3T_white-space: pre-wrap;
  --mixin-Z5-Bb3qwIlN__font-family: "Inter", sans-serif;
  --mixin-Z5-Bb3qwIlN__color: #000000;
  --mixin-Z5-Bb3qwIlN__font-size: 32px;
  --mixin-Z5-Bb3qwIlN__font-weight: 600;
  --mixin-Z5-Bb3qwIlN__letter-spacing: -0.8px;
  --mixin-Z5-Bb3qwIlN__line-height: 1.2;
  --mixin-Z5-Bb3qwIlN__white-space: pre-wrap;
  --mixin-f9TEev7l7soA_font-family: "Inter", sans-serif;
  --mixin-f9TEev7l7soA_color: #000000;
  --mixin-f9TEev7l7soA_font-size: 24px;
  --mixin-f9TEev7l7soA_font-weight: 600;
  --mixin-f9TEev7l7soA_letter-spacing: -0.5px;
  --mixin-f9TEev7l7soA_line-height: 1.3;
  --mixin-f9TEev7l7soA_white-space: pre-wrap;
  --mixin-p5Dv_E2SHo5R_font-family: "Inter", sans-serif;
  --mixin-p5Dv_E2SHo5R_color: #000000;
  --mixin-p5Dv_E2SHo5R_font-size: 20px;
  --mixin-p5Dv_E2SHo5R_font-weight: 600;
  --mixin-p5Dv_E2SHo5R_letter-spacing: -0.3px;
  --mixin-p5Dv_E2SHo5R_line-height: 1.5;
  --mixin-p5Dv_E2SHo5R_white-space: pre-wrap;
  --mixin-x1RLxgqc2Wnu_font-family: "Inter", sans-serif;
  --mixin-x1RLxgqc2Wnu_color: #000000;
  --mixin-x1RLxgqc2Wnu_font-size: 16px;
  --mixin-x1RLxgqc2Wnu_font-weight: 600;
  --mixin-x1RLxgqc2Wnu_line-height: 1.5;
  --mixin-x1RLxgqc2Wnu_white-space: pre-wrap;
  --mixin-QgCspFA4T7Gf_border-left-color: #dddddd;
  --mixin-QgCspFA4T7Gf_border-left-style: solid;
  --mixin-QgCspFA4T7Gf_border-left-width: 3px;
  --mixin-QgCspFA4T7Gf_color: #888888;
  --mixin-QgCspFA4T7Gf_padding-left: 10px;
  --mixin-QgCspFA4T7Gf_white-space: pre-wrap;
  --mixin-EJrMhpZL3zZc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EJrMhpZL3zZc_border-bottom-color: #dddddd;
  --mixin-EJrMhpZL3zZc_border-bottom-style: solid;
  --mixin-EJrMhpZL3zZc_border-bottom-width: 1px;
  --mixin-EJrMhpZL3zZc_border-left-color: #dddddd;
  --mixin-EJrMhpZL3zZc_border-left-style: solid;
  --mixin-EJrMhpZL3zZc_border-left-width: 1px;
  --mixin-EJrMhpZL3zZc_border-right-color: #dddddd;
  --mixin-EJrMhpZL3zZc_border-right-style: solid;
  --mixin-EJrMhpZL3zZc_border-right-width: 1px;
  --mixin-EJrMhpZL3zZc_border-top-color: #dddddd;
  --mixin-EJrMhpZL3zZc_border-top-style: solid;
  --mixin-EJrMhpZL3zZc_border-top-width: 1px;
  --mixin-EJrMhpZL3zZc_border-bottom-left-radius: 3px;
  --mixin-EJrMhpZL3zZc_border-bottom-right-radius: 3px;
  --mixin-EJrMhpZL3zZc_border-top-left-radius: 3px;
  --mixin-EJrMhpZL3zZc_border-top-right-radius: 3px;
  --mixin-EJrMhpZL3zZc_font-family: "Inconsolata";
  --mixin-EJrMhpZL3zZc_padding-bottom: 1px;
  --mixin-EJrMhpZL3zZc_padding-left: 4px;
  --mixin-EJrMhpZL3zZc_padding-right: 4px;
  --mixin-EJrMhpZL3zZc_padding-top: 1px;
  --mixin-EJrMhpZL3zZc_white-space: pre-wrap;
  --mixin-7pMHKqwK5dFP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7pMHKqwK5dFP_border-bottom-color: #dddddd;
  --mixin-7pMHKqwK5dFP_border-bottom-style: solid;
  --mixin-7pMHKqwK5dFP_border-bottom-width: 1px;
  --mixin-7pMHKqwK5dFP_border-left-color: #dddddd;
  --mixin-7pMHKqwK5dFP_border-left-style: solid;
  --mixin-7pMHKqwK5dFP_border-left-width: 1px;
  --mixin-7pMHKqwK5dFP_border-right-color: #dddddd;
  --mixin-7pMHKqwK5dFP_border-right-style: solid;
  --mixin-7pMHKqwK5dFP_border-right-width: 1px;
  --mixin-7pMHKqwK5dFP_border-top-color: #dddddd;
  --mixin-7pMHKqwK5dFP_border-top-style: solid;
  --mixin-7pMHKqwK5dFP_border-top-width: 1px;
  --mixin-7pMHKqwK5dFP_border-bottom-left-radius: 3px;
  --mixin-7pMHKqwK5dFP_border-bottom-right-radius: 3px;
  --mixin-7pMHKqwK5dFP_border-top-left-radius: 3px;
  --mixin-7pMHKqwK5dFP_border-top-right-radius: 3px;
  --mixin-7pMHKqwK5dFP_font-family: "Inconsolata";
  --mixin-7pMHKqwK5dFP_padding-bottom: 3px;
  --mixin-7pMHKqwK5dFP_padding-left: 6px;
  --mixin-7pMHKqwK5dFP_padding-right: 6px;
  --mixin-7pMHKqwK5dFP_padding-top: 3px;
  --mixin-7pMHKqwK5dFP_white-space: pre-wrap;
  --mixin-eIgPCIUqemT2_display: flex;
  --mixin-eIgPCIUqemT2_flex-direction: column;
  --mixin-eIgPCIUqemT2_align-items: stretch;
  --mixin-eIgPCIUqemT2_justify-content: flex-start;
  --mixin-eIgPCIUqemT2_list-style-position: outside;
  --mixin-eIgPCIUqemT2_padding-left: 40px;
  --mixin-eIgPCIUqemT2_position: relative;
  --mixin-eIgPCIUqemT2_list-style-type: decimal;
  --mixin-eIgPCIUqemT2_white-space: pre-wrap;
  --mixin-jkobkt679LV7_display: flex;
  --mixin-jkobkt679LV7_flex-direction: column;
  --mixin-jkobkt679LV7_align-items: stretch;
  --mixin-jkobkt679LV7_justify-content: flex-start;
  --mixin-jkobkt679LV7_list-style-position: outside;
  --mixin-jkobkt679LV7_padding-left: 40px;
  --mixin-jkobkt679LV7_position: relative;
  --mixin-jkobkt679LV7_list-style-type: disc;
  --mixin-jkobkt679LV7_white-space: pre-wrap;
  --mixin-UJ_c47eo7Bss_white-space: pre-wrap;
  --mixin-8MATQatwXFPe_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-2ML9saUm6-n3_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-2ML9saUm6-n3_white-space);
  --mixin-woFNM56033c0_white-space: pre-wrap;
  --plasmic-mixin-h-1_white-space: var(--mixin-woFNM56033c0_white-space);
  --mixin-5xMQfJBDKMPr_white-space: pre-wrap;
  --plasmic-mixin-h-2_white-space: var(--mixin-5xMQfJBDKMPr_white-space);
  --mixin-67l9oxCHhZMo_white-space: pre-wrap;
  --plasmic-mixin-h-3_white-space: var(--mixin-67l9oxCHhZMo_white-space);
  --mixin-UTNMtS1FY-Vk_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-UTNMtS1FY-Vk_white-space);
  --mixin-uCRfOCAgvebh_white-space: pre-wrap;
  --plasmic-mixin-product-image_white-space: var(
    --mixin-uCRfOCAgvebh_white-space
  );
  --mixin-TsqcyoCe2SuW_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-TsqcyoCe2SuW_box-shadow);
  --mixin-TsqcyoCe2SuW_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-TsqcyoCe2SuW_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ZX66RJmRdXD2_font-family);
  font-size: var(--mixin-ZX66RJmRdXD2_font-size);
  font-style: var(--mixin-ZX66RJmRdXD2_font-style);
  color: var(--mixin-ZX66RJmRdXD2_color);
  text-align: var(--mixin-ZX66RJmRdXD2_text-align);
  text-transform: var(--mixin-ZX66RJmRdXD2_text-transform);
  line-height: var(--mixin-ZX66RJmRdXD2_line-height);
  white-space: var(--mixin-ZX66RJmRdXD2_white-space);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-UDYE44CR-C3T_font-family);
  color: var(--mixin-UDYE44CR-C3T_color);
  font-size: var(--mixin-UDYE44CR-C3T_font-size);
  font-weight: var(--mixin-UDYE44CR-C3T_font-weight);
  letter-spacing: var(--mixin-UDYE44CR-C3T_letter-spacing);
  line-height: var(--mixin-UDYE44CR-C3T_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-Z5-Bb3qwIlN__font-family);
  color: var(--mixin-Z5-Bb3qwIlN__color);
  font-size: var(--mixin-Z5-Bb3qwIlN__font-size);
  font-weight: var(--mixin-Z5-Bb3qwIlN__font-weight);
  letter-spacing: var(--mixin-Z5-Bb3qwIlN__letter-spacing);
  line-height: var(--mixin-Z5-Bb3qwIlN__line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-f9TEev7l7soA_font-family);
  color: var(--mixin-f9TEev7l7soA_color);
  font-size: var(--mixin-f9TEev7l7soA_font-size);
  font-weight: var(--mixin-f9TEev7l7soA_font-weight);
  letter-spacing: var(--mixin-f9TEev7l7soA_letter-spacing);
  line-height: var(--mixin-f9TEev7l7soA_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-p5Dv_E2SHo5R_font-family);
  color: var(--mixin-p5Dv_E2SHo5R_color);
  font-size: var(--mixin-p5Dv_E2SHo5R_font-size);
  font-weight: var(--mixin-p5Dv_E2SHo5R_font-weight);
  letter-spacing: var(--mixin-p5Dv_E2SHo5R_letter-spacing);
  line-height: var(--mixin-p5Dv_E2SHo5R_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-x1RLxgqc2Wnu_font-family);
  color: var(--mixin-x1RLxgqc2Wnu_color);
  font-size: var(--mixin-x1RLxgqc2Wnu_font-size);
  font-weight: var(--mixin-x1RLxgqc2Wnu_font-weight);
  line-height: var(--mixin-x1RLxgqc2Wnu_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-QgCspFA4T7Gf_color);
  padding-left: var(--mixin-QgCspFA4T7Gf_padding-left);
  border-left: var(--mixin-QgCspFA4T7Gf_border-left-width)
    var(--mixin-QgCspFA4T7Gf_border-left-style)
    var(--mixin-QgCspFA4T7Gf_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-EJrMhpZL3zZc_font-family);
  border-radius: var(--mixin-EJrMhpZL3zZc_border-top-left-radius)
    var(--mixin-EJrMhpZL3zZc_border-top-right-radius)
    var(--mixin-EJrMhpZL3zZc_border-bottom-right-radius)
    var(--mixin-EJrMhpZL3zZc_border-bottom-left-radius);
  padding: var(--mixin-EJrMhpZL3zZc_padding-top)
    var(--mixin-EJrMhpZL3zZc_padding-right)
    var(--mixin-EJrMhpZL3zZc_padding-bottom)
    var(--mixin-EJrMhpZL3zZc_padding-left);
  border-top: var(--mixin-EJrMhpZL3zZc_border-top-width)
    var(--mixin-EJrMhpZL3zZc_border-top-style)
    var(--mixin-EJrMhpZL3zZc_border-top-color);
  border-right: var(--mixin-EJrMhpZL3zZc_border-right-width)
    var(--mixin-EJrMhpZL3zZc_border-right-style)
    var(--mixin-EJrMhpZL3zZc_border-right-color);
  border-bottom: var(--mixin-EJrMhpZL3zZc_border-bottom-width)
    var(--mixin-EJrMhpZL3zZc_border-bottom-style)
    var(--mixin-EJrMhpZL3zZc_border-bottom-color);
  border-left: var(--mixin-EJrMhpZL3zZc_border-left-width)
    var(--mixin-EJrMhpZL3zZc_border-left-style)
    var(--mixin-EJrMhpZL3zZc_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7pMHKqwK5dFP_font-family);
  border-radius: var(--mixin-7pMHKqwK5dFP_border-top-left-radius)
    var(--mixin-7pMHKqwK5dFP_border-top-right-radius)
    var(--mixin-7pMHKqwK5dFP_border-bottom-right-radius)
    var(--mixin-7pMHKqwK5dFP_border-bottom-left-radius);
  padding: var(--mixin-7pMHKqwK5dFP_padding-top)
    var(--mixin-7pMHKqwK5dFP_padding-right)
    var(--mixin-7pMHKqwK5dFP_padding-bottom)
    var(--mixin-7pMHKqwK5dFP_padding-left);
  border-top: var(--mixin-7pMHKqwK5dFP_border-top-width)
    var(--mixin-7pMHKqwK5dFP_border-top-style)
    var(--mixin-7pMHKqwK5dFP_border-top-color);
  border-right: var(--mixin-7pMHKqwK5dFP_border-right-width)
    var(--mixin-7pMHKqwK5dFP_border-right-style)
    var(--mixin-7pMHKqwK5dFP_border-right-color);
  border-bottom: var(--mixin-7pMHKqwK5dFP_border-bottom-width)
    var(--mixin-7pMHKqwK5dFP_border-bottom-style)
    var(--mixin-7pMHKqwK5dFP_border-bottom-color);
  border-left: var(--mixin-7pMHKqwK5dFP_border-left-width)
    var(--mixin-7pMHKqwK5dFP_border-left-style)
    var(--mixin-7pMHKqwK5dFP_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-eIgPCIUqemT2_display);
  flex-direction: var(--mixin-eIgPCIUqemT2_flex-direction);
  align-items: var(--mixin-eIgPCIUqemT2_align-items);
  justify-content: var(--mixin-eIgPCIUqemT2_justify-content);
  list-style-position: var(--mixin-eIgPCIUqemT2_list-style-position);
  padding-left: var(--mixin-eIgPCIUqemT2_padding-left);
  position: var(--mixin-eIgPCIUqemT2_position);
  list-style-type: var(--mixin-eIgPCIUqemT2_list-style-type);
  flex-column-gap: var(--mixin-eIgPCIUqemT2_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-jkobkt679LV7_display);
  flex-direction: var(--mixin-jkobkt679LV7_flex-direction);
  align-items: var(--mixin-jkobkt679LV7_align-items);
  justify-content: var(--mixin-jkobkt679LV7_justify-content);
  list-style-position: var(--mixin-jkobkt679LV7_list-style-position);
  padding-left: var(--mixin-jkobkt679LV7_padding-left);
  position: var(--mixin-jkobkt679LV7_position);
  list-style-type: var(--mixin-jkobkt679LV7_list-style-type);
  flex-column-gap: var(--mixin-jkobkt679LV7_flex-column-gap);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
}
