.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-kqLrvkkT63xP);
  font-size: var(--token-PkRpnMsUgdoa);
  line-height: var(--token-G79dO0tWlFxG);
  width: 100%;
  color: var(--token--LiRiDM306TI);
  font-family: var(--token-7W5D9u4p9wXj);
  min-width: 0;
  border-radius: var(--token-cZ6a-KV8lb-3);
  padding: var(--token-cZ6a-KV8lb-3) var(--token-_9i71tSFmKK6);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-5Rk9sgWBdX7L);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-vkyF0M209A7j);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-TI7OGsysZLjv);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-vkyF0M209A7j);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-LzJ2JAquyD_o);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-LzJ2JAquyD_o);
}
