.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__hw12C {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__hw12C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hw12C > :global(.__wab_flex-container) > *,
.freeBox__hw12C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hw12C > :global(.__wab_flex-container) > picture > img,
.freeBox__hw12C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hw12C {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hw12C > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hw12C > :global(.__wab_flex-container) > *,
  .freeBox__hw12C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hw12C > :global(.__wab_flex-container) > picture > img,
  .freeBox__hw12C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__dpi0S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dpi0S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dpi0S > :global(.__wab_flex-container) > *,
.freeBox__dpi0S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpi0S > :global(.__wab_flex-container) > picture > img,
.freeBox__dpi0S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pewmi {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__w52TJ {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  height: 1em;
}
.svg__jtVw {
  position: relative;
  height: 1em;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__gnT8O {
  position: relative;
  height: 1em;
}
.text__giJv8 {
  white-space: pre;
}
.svg__mh8Ai {
  position: relative;
  height: 1em;
}
.freeBox__pOnbo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__pOnbo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pOnbo > :global(.__wab_flex-container) > *,
.freeBox__pOnbo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pOnbo > :global(.__wab_flex-container) > picture > img,
.freeBox__pOnbo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vaG {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.freeBox__bctOj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bctOj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bctOj > :global(.__wab_flex-container) > *,
.freeBox__bctOj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bctOj > :global(.__wab_flex-container) > picture > img,
.freeBox__bctOj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__k7Jgt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__k7Jgt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__k7Jgt > :global(.__wab_flex-container) > *,
.freeBox__k7Jgt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k7Jgt > :global(.__wab_flex-container) > picture > img,
.freeBox__k7Jgt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__t0Dir {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.freeBox__yg82Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__hIrl4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hIrl4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hIrl4 > :global(.__wab_flex-container) > *,
.freeBox__hIrl4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIrl4 > :global(.__wab_flex-container) > picture > img,
.freeBox__hIrl4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__zDnnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__mPtu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link___1Zxn2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.link__mnCid {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4MwI {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___4MwI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4MwI > :global(.__wab_flex-container) > *,
.freeBox___4MwI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4MwI > :global(.__wab_flex-container) > picture > img,
.freeBox___4MwI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__v3DkH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__sywmI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link___5MaXr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
