.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-5Rk9sgWBdX7L);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-gM2cG15DbH1I);
  font-family: var(--token-7W5D9u4p9wXj);
  font-size: var(--token-PkRpnMsUgdoa);
  line-height: var(--token-G79dO0tWlFxG);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-cZ6a-KV8lb-3);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-wMNnEvENCG0v);
  outline-offset: 1px;
  outline-color: var(--token-5Rk9sgWBdX7L);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-8hs7EX9uNYeD);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-fZ9VQkeOGLbj);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-KjqVgfl_4wjT);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-MOadUMKVmGrF);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-h2iOa64H_aSI);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-6JMdgszLMe47);
  font-size: var(--token-0WfqZxKAcOmb);
  column-gap: var(--token-wMNnEvENCG0v);
  row-gap: 0px;
  border-radius: var(--token-ztNHo3mbgYew);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-0WfqZxKAcOmb);
  line-height: var(--token-6JMdgszLMe47);
  column-gap: var(--token-ztNHo3mbgYew);
  row-gap: 0px;
  border-radius: var(--token-ztNHo3mbgYew);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-hhBcov2uXk9X);
  line-height: var(--token-3QJ02faEj5-g);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-hhBcov2uXk9X);
  line-height: var(--token-3QJ02faEj5-g);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-2_c4SqJSJ8bk);
  border-radius: var(--token-cZ6a-KV8lb-3);
}
.softBackgroundcolor_neutral {
  background: var(--token-yEe1U7yjLgjo);
}
.softBackgroundcolor_muted {
  background: var(--token-vkyF0M209A7j);
}
.softBackgroundcolor_success {
  background: var(--token-YIqqY8_QgXHc);
}
.softBackgroundcolor_warning {
  background: var(--token-M6o9zS5c4w7K);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-uJ8UwaioMtcZ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-cZ6a-KV8lb-3);
  border: 0px solid var(--token-J_yMcMBvgFvW);
}
.bordercolor_neutral {
  border-color: var(--token-u8scllr6zTLr);
}
.bordercolor_muted {
  border-color: var(--token-5s__TtvshFUo);
}
.bordercolor_success {
  border-color: var(--token-IvJ-y20oggNn);
}
.bordercolor_warning {
  border-color: var(--token-ZULlZnLQDf7W);
}
.bordercolor_errorDestructive {
  border-color: var(--token-d9dDNT66tliJ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-cZ6a-KV8lb-3);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-tP08cDGiUdGv);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-ZZFA-Tu6fMr9);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Olua63UJwBfW);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yMlp0 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-cZ6a-KV8lb-3) var(--token-_9i71tSFmKK6);
}
.freeBox__yMlp0 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-cZ6a-KV8lb-3));
  width: calc(100% + var(--token-cZ6a-KV8lb-3));
}
.freeBox__yMlp0 > :global(.__wab_flex-container) > *,
.freeBox__yMlp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yMlp0 > :global(.__wab_flex-container) > picture > img,
.freeBox__yMlp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cZ6a-KV8lb-3);
}
.freeBoxsize_extraSmall__yMlp0WdVxR {
  padding: var(--token-ztNHo3mbgYew) var(--token-cZ6a-KV8lb-3);
}
.freeBoxsize_small__yMlp0OhBld {
  padding: var(--token-cZ6a-KV8lb-3) var(--token-gM2cG15DbH1I);
}
.freeBoxsize_large__yMlp0JAzMq {
  padding-top: var(--token-ztNHo3mbgYew);
  padding-bottom: var(--token-ztNHo3mbgYew);
}
.freeBoxsize_extraLarge__yMlp0GpNpE {
  padding-left: var(--token-RuitHwuC_1AN);
  padding-right: var(--token-RuitHwuC_1AN);
}
.freeBoxroundedFull__yMlp0Ond2S {
  padding-right: var(--token-RuitHwuC_1AN);
  padding-left: var(--token-RuitHwuC_1AN);
}
.freeBox__vGpc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__vGpCflKWe {
  display: flex;
}
.slotTargetStart {
  color: var(--token-_tQZ-LsMEuzM);
}
.slotTargetStartcolor_neutral {
  color: var(--token-UbbNQmUmhLzD);
}
.slotTargetStartcolor_muted {
  color: var(--token-MmufIajRiemU);
}
.slotTargetStartcolor_success {
  color: var(--token-5sypFvNO3g9g);
}
.slotTargetStartcolor_warning {
  color: var(--token-WItcu7vfxdJE);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-ocK2YrVVA8Wv);
}
.slotTargetStarttype_soft {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetStarttype_bordered {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-0WfqZxKAcOmb);
}
.slotTargetStartsize_small {
  font-size: var(--token-0WfqZxKAcOmb);
}
.slotTargetStartsize_large {
  font-size: var(--token-hhBcov2uXk9X);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-hhBcov2uXk9X);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-Bj-uFQglAUeV);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-Bj-uFQglAUeV);
}
.svg__aXnYm {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-_tQZ-LsMEuzM);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-UbbNQmUmhLzD);
}
.slotTargetLabelcolor_muted {
  color: var(--token-MmufIajRiemU);
}
.slotTargetLabelcolor_success {
  color: var(--token-5sypFvNO3g9g);
}
.slotTargetLabelcolor_warning {
  color: var(--token-WItcu7vfxdJE);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-ocK2YrVVA8Wv);
}
.slotTargetLabeltype_soft {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetLabeltype_bordered {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-Bj-uFQglAUeV);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-Bj-uFQglAUeV);
}
.text__rBbgn {
  white-space: pre;
}
.freeBox__gdBb2 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__gdBb2EmKg2 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-_tQZ-LsMEuzM);
}
.slotTargetEndcolor_neutral {
  color: var(--token-UbbNQmUmhLzD);
}
.slotTargetEndcolor_muted {
  color: var(--token-MmufIajRiemU);
}
.slotTargetEndcolor_success {
  color: var(--token-5sypFvNO3g9g);
}
.slotTargetEndcolor_warning {
  color: var(--token-WItcu7vfxdJE);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-ocK2YrVVA8Wv);
}
.slotTargetEndtype_soft {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetEndtype_bordered {
  color: var(--token-aI1kCZkC0Egt);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-0WfqZxKAcOmb);
}
.slotTargetEndsize_small {
  font-size: var(--token-0WfqZxKAcOmb);
}
.slotTargetEndsize_large {
  font-size: var(--token-hhBcov2uXk9X);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-hhBcov2uXk9X);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Q7Hp8-nwL_NK);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-Ts8uVf6-VVSL);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-YgxTmM3nBDaU);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-IJ36eq5vTN8E);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-Bj-uFQglAUeV);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-Bj-uFQglAUeV);
}
.svg__az7KF {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
